<!-- Modal da Alteração -->
<div class="modal fade bs-example-modal-sm" id="alteracao" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><span class="icon-modal glyphicon glyphicon-pencil" aria-hidden="true"></span> Alteração</h4>
      </div>
      <div class="modal-body">



        <form class="form-horizontal">
          <fieldset>
            <!-- /.sem o legend -->
            <div class="form-group">
              <!--<label for="processo" class="col-lg-3 control-label">Processo</label>-->
              <div class="col-lg-12">
                <form action="">
                  <div class="input-append input-group">
                  <input type="text" placeholder="Nº do Processo" class="form-control" id="alteraProcesso" name="alteraProcesso" required><span class="input-group-addon"><button type="submit" class="btn btn-pirmary btn-xs" data-toggle="modal" data-target="#cadastro" data-dismiss="modal" ><i class="glyphicon glyphicon-folder-open"></i></button></span>
                  </div>
                </form>
              </div>
            </div>
          </fieldset>
        </form>




      </div>
    </div>
  </div>
</div>